In [ ]:
"""
learning pandas (http://pandas.pydata.org/)
start date: 02/27/2019

learn to use: 
    Series
    DataFrame
"""

In [ ]:
"""
Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. 
DataFrames are essentially multidimensional arrays with attached row and column labels, 
and often with heterogeneous types and/or missing data.

Pandas implements a number of powerful data operations familiar to
users of both database frameworks and spreadsheet programs
"""

In [ ]:
"""
NumPy’s ndarray data structure provides essential features for the type of
clean, well-organized data typically seen in numerical computing tasks. 

Numpy does not work in the following situation:
(1) we need more flexibility (attaching labels to data, working with missing data, etc.)
(2) attempt perations that do not map well to element-wise broadcasting (groupings, pivots,etc.)
() less-structural data
"""

In [1]:
import pandas as pd

In [2]:
pd?   # get help of pandas

In [4]:
import numpy as np
import pandas as pd

In [6]:
## pandas Series object
x = pd.Series([0, 2, 4, 5.5])
print(x)

0    0.0
1    2.0
2    4.0
3    5.5
dtype: float64

In [7]:
"""
the Series wraps both a sequence of values and a
sequence of indices, which we can access with the values and index attributes. 
"""
x.values   ## values of a series is numpy array

array([0. , 2. , 4. , 5.5])

In [8]:
x.index  ## index of a series is an array-like object of type pd.Index

RangeIndex(start=0, stop=4, step=1)

In [9]:
pd.Index?

In [15]:
x[1]   # return the value of the corresponding index

2.0

In [12]:
x[1:3]   # results do not include x[3]

1    2.0
2    4.0
dtype: float64

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [17]:
data['a']

0.25

In [18]:
data[1]

0.5

In [19]:
# We can even use noncontiguous or nonsequential indices:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                  index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [23]:
print(data)
print(data.shape)
print(data.size)

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64
(4,)
4

In [25]:
data[5]

0.5

In [27]:
## create pandas Series object from dictionary
## By default, a Series will be created where the index is drawn from the sorted keys.
pop_dict = { 'California': 38332521,
              'Texas': 26448193,
              'New York': 19651127,
              'Florida': 19552860,
              'Illinois': 12882135 }
pop_series = pd.Series(pop_dict)
print(pop_series)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [28]:
pop_series['California']

38332521

In [29]:
pop_series['California': 'Florida']    # results include 'California' and 'Florida'

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [32]:
x[1:3]  # results do not include x[3]

1    2.0
2    4.0
dtype: float64

In [37]:
# Constructing Series objects
pd.Series(data)

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [39]:
ind = [3, 5, 8]
pd.Series(data, index = ind)

3    0.75
5    0.50
8     NaN
dtype: float64

In [40]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [43]:
pd.Series([5, 6, 7, 8], index=[100, 200, 300])

ValueError: Length of passed values is 4, index implies 3

In [44]:
pd.Series([5, 6, 7], index=[100, 200, 300])

100    5
200    6
300    7
dtype: int64

In [45]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [46]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [6]:
# The Pandas DataFrame Object
import pandas as pd
pop_dict = { 'California': 38332521,
              'Texas': 26448193,
              'New York': 19651127,
              'Florida': 19552860,
              'Illinois': 12882135 }
pop_series = pd.Series(pop_dict)
print(pop_series)

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [8]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
'Florida': 170312, 'Illinois': 149995}
area_series = pd.Series(area_dict)
print(area_series)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [11]:
states_df = pd.DataFrame({'population': pop_series,
'area': area_series})
print(states_df)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [13]:
# the DataFrame has an index attribute that gives access to the index labels (row label):
states_df.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [14]:
# the DataFrame has a columns attribute, which is an Index object holding the column labels:
states_df.columns

Index(['population', 'area'], dtype='object')

In [15]:
states_df['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [16]:
states_df['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [25]:
area_series['Texas']

695662

In [26]:
pop_series['Texas']

26448193

In [27]:
states_df['Texas']

KeyError: 'Texas'

In [28]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [29]:
##  if some keys in the dictionary are missing, Pandas will fill them in with NaN (i.e.,“not a number”) values:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [36]:
"""
Given a two-dimensional array of data, we can
create a DataFrame with any specified column and index names. If omitted, an integer
index will be used for each:
"""
import numpy as np
## create random values with normal distribution [0, 1], shape = (3, 2)
pd.DataFrame(np.random.rand(3, 2),
            columns = ['foo', 'bar'],
            index = ['a', 'b', 'c'])

        foo       bar
a  0.814787  0.159860
b  0.249564  0.510284
c  0.926777  0.815238

In [37]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [40]:
ind = pd.Index([2, 3, 5, 7, 11])
print(ind)

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [43]:
ind[:2]

Int64Index([2, 3], dtype='int64')

In [44]:
## index object looks like numpy array, but index object cannot be changed (i.e. is immutable)
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [51]:
states_df.index.size

5

In [52]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [59]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [54]:
indA | indB    # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [60]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [56]:
indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [64]:
## Data Selection in Series
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
print(data)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [65]:
data['b']

0.5

In [66]:
'a' in data

True

In [67]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [70]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [71]:
data.items()

In [72]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

In [74]:
# # slicing by explicit index
data['a': 'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [78]:
## mask data
data[(data > 0.5) & (data < 0.9)]

c    0.75
dtype: float64

In [81]:
# fancy indexing
data[['a', 'd']]

a    0.25
d    1.00
dtype: float64

In [82]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [83]:
data[1]   ## use the explicit index

'a'

In [85]:
data[1:3]   # slicing operation like data[1:3] will use the implicit Python-style index

3    b
5    c
dtype: object

In [86]:
## loc attribute allows indexing and slicing that always references the explicit index:
data.loc[1:3]

1    a
3    b
dtype: object

In [91]:
# The iloc attribute allows indexing and slicing that always references the implicit Python-style index:
print('data.iloc[1:3] = \n', data.iloc[1:3])
print('data.iloc[1] = \t', data.iloc[1])
print('data.iloc[2] = \t', data.iloc[2])

data.iloc[1:3] =
 3    b
5    c
dtype: object
data.iloc[1] = 	 b
data.iloc[2] = 	 c

In [94]:
# Data Selection in DataFrame
states_df['density'] = states_df['population'] / states_df['area']

In [98]:
states_df.values

array([[3.83325210e+07, 4.23967000e+05, 9.04139261e+01],
       [2.64481930e+07, 6.95662000e+05, 3.80187404e+01],
       [1.96511270e+07, 1.41297000e+05, 1.39076746e+02],
       [1.95528600e+07, 1.70312000e+05, 1.14806121e+02],
       [1.28821350e+07, 1.49995000e+05, 8.58837628e+01]])

In [105]:
states_df.index   ## row index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [106]:
states_df.keys()   ## column index

Index(['population', 'area', 'density'], dtype='object')

In [108]:
states_df.columns

Index(['population', 'area', 'density'], dtype='object')

In [107]:
states_df.T

,California,Texas,New York,Florida,Illinois
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [109]:
states_df.values[0]

array([3.83325210e+07, 4.23967000e+05, 9.04139261e+01])

In [119]:
states_df.iloc[:3, :2]

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [121]:
states_df.loc[:'Texas', :'area']

            population    area
California    38332521  423967
Texas         26448193  695662

In [123]:
states_df.loc[states_df.density > 100, ['population', 'density']]

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121

In [125]:
states_df.iloc[0, 2] = 90

In [127]:
states_df

            population    area     density
California    38332521  423967   90.000000
Texas         26448193  695662   38.018740
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [128]:
states_df['Florida':'Illinois']

          population    area     density
Florida     19552860  170312  114.806121
Illinois    12882135  149995   85.883763

In [ ]:
# Operating on Data in Pandas